body{
    background-color: rgb(59, 59, 59);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.cuad_principal{
    display: flex;
    justify-content: right;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr{
    width: 400px;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.barra_navegacion{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: blue;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.barra_navegacion a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.barra_navegacion a:hover{
    color: blue;
    background-color:white;
}

.cuad_informacion{
    display:flex;
    width:90%;
    height:auto;
    background-color:white;
    font-weight: bold;
    margin: 8px;;
    align-items:center;
    border-radius: 15px;
    overflow: hidden;
    flex-direction: column;

}

.p{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info{
    font-size: 14px;

    text-align: center;
}


h2{


    font-size: 17px;
}
h3{
    font-size: 17px;

}

.Ejemplo{
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 100%;
}
@media (max-width:600px){
    body{
        text-align: center;
        justify-content: center;
    }
    .cuad_principal{
        justify-content: center;
        width: auto;
        height: auto;
    }
    .barra_navegacion{
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .barra_navegacion a{
        padding: 10px 15px;
    }
    .cuad_informacion{
        width: auto;
        height: auto;
        justify-content: center;
    }
    .info{
        flex-direction: column;
    }
    h1{
        font-size: 35px;
    }
    p{
        font-size: auto;
    }
    .Ejemplo{
        flex-direction: column;
    }
    .imagen{
        display: flex;
        border: 2px blue solid;
        margin: 8px;
        flex-direction: column;
        border-radius: 5px;
        width: auto;
        height: auto;
    }
    .videos{
        width: auto;
        height: auto;
        text-align: center;
    }
}
.imagen{
    display: flex;
    border: 2px blue solid;
    margin: 5px;
    flex-direction: column;
    border-radius: 5px;
}
